<% include ./partials/header.ejs %>
    <div id="pageContainer" class="container-fluid">
        <div class="container">
            <div class="row">
                <div id="pageTitle" class="col-sm-12 text-center">
                    <h1>Rate-a-Cat</h1>
                    <h4>rate a cat, because...cats</h4>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <img class="img-rounded img-responsive center-block" src="images/cat1.gif">
                </div>
                <div class="col-sm-6">
                    <img class="img-rounded img-responsive center-block" src="images/cat2.gif">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-rounded img-responsive center-block" src="images/cat3.gif">
                </div>
                <div class="col-sm-6">
                    <img class="img-rounded img-responsive center-block" src="images/cat4.gif">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3><a class="center-block" href="/login">Login </a>to rate cats!</h3>

                </div>
            </div>
        </div>
    </div>



<% include ./partials/footer.ejs %>