<% include ./partials/header.ejs %>
<div class='catContainer'>
    <img src='images/cat1.gif'>
    <div class='buttonContainer'>
        <button class='voteButton'>totes adorbs</button>
        <button class='voteButton'>meh</button>
    </div>
</div>
<% include ./partials/footer.ejs %>
