#userMenu {
    font-family: 'Arimo', sans-serif;
}

#pageTitle h1 {
    font-size: 7em;
    font-family: 'Lobster', cursive;

}

img {
    width: 500px;
    height: 400px;

}

html {
    background-color: #515E90;
}

.navbar {
    background-color: #D4B46A;
}

.navbar-default .navbar-brand {
    font-family: 'Arimo', sans-serif;
    color: #553B00;
}

#pageTitle {
    color: #07123A;
}


/*font-family: 'Lobster', cursive;
font-family: 'Arimo', sans-serif;*/