.page {
    background-image: url('../images/ar.png');
    background-repeat: repeat;
}

#userMenu {
    font-family: 'Arimo', sans-serif;
}

#pageTitle h1 {
    font-size: 8em;
    font-family: 'Lobster', cursive;
    margin: 0 auto;

}

img {
    width: 500px;
    height: 400px;
    margin: 10px auto;

}

html {
    background-color: #515E90;
}

.navbar {
    background-color: #D4B46A;
}

.navbar-default .navbar-brand {
    font-family: 'Arimo', sans-serif;
    color: #553B00;
}

#pageTitle {
    color: #07123A;
}

.btn-default {
    margin: 20px auto;
    width: 150px;
    height: 40px;
    background-color: #D4B46A;
    font-size: 1.5em;
}


/*font-family: 'Lobster', cursive;
font-family: 'Arimo', sans-serif;*/